---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
    "minima/skins/{{ site.minima.skin | default: 'classic' }}",
	"minima/initialize";

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.avatar {
	border-radius: 50%;
	height: auto;
	width: 200px;
}

.inline-image {
	height: auto;
	width: 350px;
}

.listing-post-image {
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.listing-post-excerpt {
	margin-top: 20px;
	margin-bottom: 0;
	line-height: normal;
}

p {
	line-height: 1.6;
}